.heading{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
body{
    background-size: cover;
}
.footer{
    bottom: 0;
    background-color: gray;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    line-height: 2;
}
#number_of_objects,#start,#status{
    font-size: 18px;
}